html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;

}

header {
    background: url(../images/header_bg.jpg) no-repeat center top;
    background-size: cover;
    height: 430px;
    width: 100%;
}

p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

li {
    font-height: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 20px;
}


#logo-top {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    padding: 25px 0 0 60px;
}

#peace-of-mind {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 45px;
}

#get-it-now  {
    font-size: 14px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    width: 130px;
    height: 40px;
    background-color: #f9e42e;
    color: #033048;
    border: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 9px 5px 5px 5px;
    text-align: center;
}

#benefits {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 100%;
    height: 300px;
}

article {
    float: left;
    width: 30%;
    margin-left: 50px;
    margin-top: 40px;

}

#quote {
    background: url(../images/testimonial_bg.jpg) no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 280px;
}

#amanda-quote {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    width: 30%;
    padding-top: 80px;
    margin: 0 auto;
}

#amanda {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin 0 auto;
    padding-top: 10px;
}

#sign-up {
    background-color: #f9e42e;
    width: 100%;
    height: 100px;
}

#sign-up-container {
    padding: 28px;
    text-align: center;
}

#sign-up-now {
    font-size: 12px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 40px;
    background-color: #033048;
    color: white;
    border: 5px solid none;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    padding: 12px 5px 5px 5px;

}

footer {
    background-color: #121212;
    width: 100%;
    height: 250px;
}

#logo-footer {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: #f9e42e;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

#copyright {
    font-size: 9px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#social-footer {
    text-align: center;
    margin: 0 auto;
}

#container {
    width: 100%;
    margin: 0 auto;

}


.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}




